<div th:replace="fragments/header"></div>
<div class="container">
	<center>
		<h2>Conference Database</h2>
		
		<br/>
		<br/>
		
		<form class="col-10 border border-dark rounded" th:action="@{/login}" method="post">
		<br/>
		<h3>Log in here :</h3>
		<br/>
			<div class="input-group col-sm-8">
			  <span class="input-group-addon col-3">Username</span>
			  <input type="text" name="username" class="form-control col-9"/>
			</div>
			
			<br/>
			
			<div class="input-group col-sm-8">
			  <span class="input-group-addon col-3">Password</span>
			  <input type="password" name="password" class="form-control col-9"/>
			</div>
			
			<br/>
			
			<div>
				<input type="submit" value="Sign In" class="btn btn-primary col-8"/>
			</div>
			<br/>
		</form>
	</center>
</div>
<div th:replace="fragments/footer"></div>