<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Strategy Home</title>
</head>
<body>
    <div class="border" th:each="magician : ${magicians}">
        <h2 th:text="${magician.getName()}"></h2>
        <form th:object="${magician}" th:action="@{/changeActions}" method="post">
            <label>Select Attack behaviour</label>
            <select name="attackBehaviour"style="width: 20%" class="custom-select mr-sm-2" >
                <option  th:value="${attackBehaviour}"  class="form-control" th:each="attackBehaviour : ${attackActions}"
                         th:text="${attackBehaviour.attack()}"
                         th:selected="${attackBehaviour.attack().equals(magician.getAttackAction().attack())}"></option>
            </select>
            <label>Select Defense behaviour</label>
            <select name="defenseBehaviour"style="width: 20%" class="custom-select mr-sm-2"  >
                <option  th:value="${defenseBehaviour.defense()}" th:each="defenseBehaviour : ${defenseActions}"
                         th:text="${defenseBehaviour.defense()}"
                         th:selected="${defenseBehaviour.defense().equals(magician.getDefenseAction().defense())}"></option>
            </select>
            <label>Select Support behaviour</label>
            <select name="supportBehaviour" style="width: 20%" class="custom-select mr-sm-2"  >
                <option  th:value="${supportBehaviour.support()}" th:each="supportBehaviour : ${supportActions}"
                         th:text="${supportBehaviour.support()}"
                         th:selected="${supportBehaviour.support().equals(magician.getSupportAction().support())}"></option>
            </select>
            <input type="hidden" name="magicianName" th:value="${magician.getName()}" />
            <button class="btn-info">Update Behaviour</button>
        </form>
        <h4>Attack Behaviour</h4>
        <h5 th:text="${magician.attack()}"></h5>
        <p th:text="${magician.getAttackAction().getDescription()}"></p>
        <h4>Defense Behaviour</h4>
        <h5 th:text="${magician.defense()}"></h5>
        <p th:text="${magician.getDefenseAction().getDescription()}"></p>
        <h4>Support Behaviour</h4>
        <h5 th:text="${magician.support()}"></h5>
        <p th:text="${magician.getSupportAction().getDescription()}"></p>
    </div>
</body>
</html>